[alias]
	st = status -sb
	co = checkout
	cm = commit
	lo = log --decorate --graph --name-status --oneline
[color]
	ui = true
[github]
	user = maijou2501
[help]
	autocorrect = 1
[init]
  templatedir = ~/.git_template
[push]
	default = simple
[user]
	name = maijou2501
	email = maijou2501@gmail.com
