<?xml version="1.0" encoding="shift-jis"?>
<packages>
  <package id="7zip" />
  <package id="AdobeAIR" />
  <package id="adobereader" />
  <package id="autohotkey" />
  <package id="Chromium" />
  <package id="Cmder" />
  <package id="crystaldiskinfo" />
  <package id="emet" />
  <package id="fiddler" />
  <package id="Firefox" />
  <package id="flashplayerplugin" />
  <package id="ghc" />
  <package id="jdk8" />
  <package id="msysgit" />
  <package id="pandoc" />
  <package id="pdftk" />
  <package id="putty" />
  <package id="python3" />
  <package id="QTTabBar" />
  <package id="sysinternals" />
  <package id="thunderbird" />
  <package id="vagrant" />
  <package id="vcredist2010" />
  <package id="vmwareplayer" />
  <package id="winmerge" />
  <package id="wireshark" />
</packages>
