<?xml version="1.0" encoding="shift-jis"?>
<packages>
  <package id="adobereader" />
  <package id="AdobeAIR" />
  <package id="flashplayeractivex" />
  <package id="flashplayerplugin" />
  <package id="autohotkey" />
  <package id="7zip" />
  <package id="skype" />
  <package id="procexp" />
  <package id="QTTabBar" />
  <package id="Chromium" />
  <package id="Firefox" />
  <package id="fiddler" />
  <package id="wireshark" />
  <package id="putty" />
  <package id="vagrant" />
  <package id="packer" />
  <package id="winmerge" />
  <package id="Cmder" />
  <package id="pandoc" />
</packages>
